PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE medicines (
  id TEXT PRIMARY KEY,
  name TEXT,
  category TEXT,
  strength TEXT,
  manufacturer TEXT,
  batch TEXT,
  quantity INTEGER,
  price REAL,
  mrp REAL,
  expiry TEXT,
  description TEXT,
  date_added TEXT
);
INSERT INTO medicines VALUES('MED011','lol','syrup','12','21','21',10,21.0,12.0,'2212-12-12','','2025-11-15');
INSERT INTO medicines VALUES('MED001','Paracetamol','Analgesic','500mg','Cipla','B001',10,12.5,20.0,'2026-03-15','Used for fever and pain relief','2025-11-15');
INSERT INTO medicines VALUES('MED003','Azithromycin','Antibiotic','500mg','Dr Reddy''s','B003',-36,45.0,70.0,'2026-01-10','Used for bacterial infections','2025-11-15');
CREATE TABLE sales (
  id TEXT PRIMARY KEY,
  customer_name TEXT,
  customer_phone TEXT,
  date TEXT,
  total REAL
);
INSERT INTO sales VALUES('SALE001','abc','123','2025-11-15',0.0);
INSERT INTO sales VALUES('SALE002','ssas','adsd','1212-02-11',303.0);
INSERT INTO sales VALUES('SALE003','abc','adsd','2025-11-15',140.0);
CREATE TABLE sale_items (
  id INTEGER PRIMARY KEY AUTOINCREMENT,
  sale_id TEXT,
  medicine_id TEXT,
  medicine_name TEXT,
  qty INTEGER,
  price REAL,
  subtotal REAL,
  FOREIGN KEY(sale_id) REFERENCES sales(id)
);
INSERT INTO sale_items VALUES(1,'SALE002','MED006','Metformin',12,6.0,72.0);
INSERT INTO sale_items VALUES(2,'SALE002','MED006','Metformin',21,6.0,126.0);
INSERT INTO sale_items VALUES(3,'SALE002','MED010','Vitamin C',21,5.0,105.0);
CREATE TABLE backups (
  id INTEGER PRIMARY KEY AUTOINCREMENT,
  created_at TEXT,
  data TEXT
);
DELETE FROM sqlite_sequence;
INSERT INTO sqlite_sequence VALUES('sale_items',17);
COMMIT;
